@import url('https://fonts.googleapis.com/css?family=Viga|Roboto:200,400,500,600,700');
body{font-family: 'Roboto', sans-serif; background: #F9F9FA;}
header {
	color: #fff;
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    background-image: url('../images/home-bg.svg'), url('../images/home-bg-bottom.svg'),linear-gradient(-45deg, #f27623, #ef4132, #f27623, #ef4132);
}

.services{
	height: 90vh;
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    background-image: url('../images/home-bg.svg'), url('../images/home-bg-bottom.svg'),linear-gradient(-45deg, #f27623, #ef4132, #f27623, #ef4132);
}
.logoClass {
    width: 18%;
    padding: 10px;
}




.box-shadow-none{box-shadow: none!important}

nav {
    background: none !important; 
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
@media (min-width:0px) and (max-width:600px){
	body{text-align: center;}
	p{font-size:16px;}
	.indexP-text h1{
		font-size: 35px !important;
	}
    .logoClass {
        width: 60%;
        padding: 10px;
	}



	.p-spec{ padding: 0 0 0 0 !important;}
	h1,h2,h3,h4 {font-weight: 600 !important;}
}

@media (min-width:992px) and (max-width:1200px){

	.logoClass {
        width: 35%;
        padding: 10px;
	}
}



@media (min-width:1201px) and (max-width:1365px) {
	.minH-270 {min-height: 270px !important; }
	.minH-360 {min-height: 360px !important; }
	
}







h1,h2,h3,h4 {font-weight: 600 !important;}
.main-gredient{ background: linear-gradient(-45deg, #f27623, #ef4132) !important;}

.indexP-text h1 {font-weight: 200; font-family: 'Viga';}

 .bold-font{ 
    background-image: linear-gradient(120deg, #fff 0%, #fff 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    background-position: 0 88%;
    transition: background-size 0.25s ease-in;} 
.bold-font:hover{ background-size: 100% 88%;
    color:#ef4132;}

.who-we-are { background: #fff; padding: 1%; }
.p-spec { padding: 1px 135px; font-size: 18px;}
.mar-tb25{margin: 25px 0;}
.mar-tb40{margin: 40px 0;}
.mar-top20{margin-top:20px}

.pad-top10{ padding-top: 10px !important;}
.pad-bottom10{ padding-bottom: 10px!important;}
.pad-left10{ padding-left:10px !important;}
.pad-right10{ padding-right:10px !important;}

.pad-top0{ padding-top:0 !important;}
.pad-bottom0{ padding-bottom:0 !important;}
.pad-left0{ padding-left:0 !important;}
.pad-right0{ padding-right:0 !important;}